<h1> messages</h1>

<%= link_to 'Back', messages_path , {:class => 'btn btn-outline-danger'}  %>
 <%= link_to 'New message', new_message_path , {:class => 'btn btn-outline-success'} %>
 <br>
 <br>
<table class="table  table-bordered">
  <tr>
    <th>messages</th>
    <th colspan="3">Actions</th>
  </tr>
 
  <% @messages.each do |messag| %>
    <tr>
      <td><%= messag.message %></td>
      <td><%= link_to 'Show', message_path(messag) %></td>
      <td><%= link_to 'Edit', edit_message_path(messag) %></td>
      <td><%= link_to 'Destroy', message_path(messag),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
              </td>
    </tr>
  <% end %>
</table>
<%= render 'form' %>